/* MAIN STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

*:focus {
  outline-color: #de2e54;
  outline-offset: 5px;
  outline-width: 3px;
  outline-style: dotted;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.button {
  width: 194px;
  height: 47px;
  background-color: #de2e54;
  border: 2px solid #de2e54;
  border-radius: 8px;
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 24px;
  transition: background-color 0.4s ease, color 0.4s ease;
}

.button:hover {
  background-color: #ffffff;
  color: #de2e54;
}

.button:active {
  color: #ffffff;
  background-color: #de2e54;
  opacity: 0.6;
}

.logo {
  font-family: "Open Sans", "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222222;
  display: flex;
  align-items: center;
  transition: color 0.4s ease;
}

.logo img {
  width: 50px;
  height: 49.94px;
  margin-right: 16px;
}

.container {
  width: 100%;
  max-width: 1536px;
  margin-right: auto;
  margin-left: auto;
}

/* HEADER */

header {
  width: 100%;
}

header nav {
  width: 100%;
  height: 98px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 170px;
  padding-left: 170px;
}

header nav a:hover {
  color: #de2e54;
}

header nav a:active {
  opacity: 0.6;
}

.header-nav-list {
  display: flex;
}

.header-nav-list li {
  margin-right: 32px;
}

.header-nav-list li:last-child {
  margin-right: 0;
}

.header-nav-list li a {
  font-family: "Open Sans", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #222222;
  transition: color 0.4s ease;
}

.header-nav-list li a:hover {
  color: #de2e54;
}

.header-nav-list li a:active {
  opacity: 0.6;
}

.hero {
  width: 100%;
  height: 533px;
  background-color: #0eb4c1;
  display: flex;
  justify-content: space-between;
  padding-right: 170px;
  padding-left: 170px;
  margin-bottom: 120px;
}

.hero-content {
  width: 500px;
  margin-right: 177px;
  padding-top: 120px;
}

.hero-content h2 {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 16px;
}

.hero-content p {
  font-family: "Open Sans", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 36px;
}

.hero-img {
  height: 533px;
  display: flex;
  align-items: flex-end;
}

.hero img {
  width: 423px;
  height: 504px;
}

/* FEATURES */

.features {
  width: 100%;
  padding-right: 288px;
  padding-left: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features h2 {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
  margin-bottom: 56px;
}

.features-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.features-list li:last-child {
  margin-bottom: 60px !important;
}

.features-list li img {
  width: 200px;
  height: 200px;
  box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3);
  margin-right: 64px;
}

.features-list-content {
  width: 600px;
}

.features-list-content h3 {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #222222;
  margin-bottom: 24px;
}

.features-list-content p {
  font-family: "Open Sans", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #444444;
}

.features button {
  margin-bottom: 120px;
}

/* REGISTER */

#register {
  width: 100%;
  height: 253px;
  background-color: #0eb4c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

#register h2 {
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 40px;
}

#register button {
  width: 194px;
  height: 42px;
  background-color: #0eb4c1;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-family: "Open Sans Condensed", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.4s ease;
}

#register button:hover {
  background-color: #de2e54;
  border: 2px solid #de2e54;
}

#register button:active {
  opacity: 0.6;
}

.call-button {
  margin-right: 20px;
}

/* FOOTER */

footer {
  width: 100%;
  height: 97.94px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 170px;
  padding-left: 170px;
}

footer a {
  color: #ffffff !important;
  transition: color 0.4s ease;
}

footer a:hover {
  color: #de2e54 !important;
}

footer a:active {
  opacity: 0.6;
}

.footer-nav-list {
  display: flex;
}

.footer-nav-list li {
  margin-right: 32px;
}

.footer-nav-list li:last-child {
  margin-right: 0;
}

.footer-nav-list li a {
  font-family: "Open Sans", "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}
